/* NavBar Template for w3schools */
.w3-hide-small{display:none!important}.w3-mobile{display:block;width:100%!important}.w3-bar-item.w3-mobile,.w3-dropdown-hover.w3-mobile,.w3-dropdown-click.w3-mobile{text-align:center}
.w3-top,.w3-bottom{position:fixed;width:100%;z-index:1}.w3-top{top:0}.w3-bottom{bottom:0}
.w3-bar .w3-bar-item{padding:8px 16px;float:left;width:auto;border:none;display:block;outline:0}
.w3-bar .w3-button{white-space:normal}
.w3-white,.w3-hover-white:hover{color:#000!important;background-color:#fff!important}
.w3-wide{letter-spacing:4px}
.w3-card,.w3-card-2{box-shadow:0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12)}

/* BEGIN java.html section, adjust as needed */
/* customizes the before and after buttons on the java.html page */ 
button{
	border:4px solid darkblue;
	padding: 2px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	padding: 5px 15px;
	margin: auto;
}

/* div container adjusting indivudal images, tagged in the before and after Red Sea images */
div.img{
	border: 5px solid chocolate;
	border-radius: 8px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	margin-bottom: 10px;
	height: 865px;
	width: 520px;
	
}

#javaText{
	text-align: center;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/* builds a container around the two buttons allowing to center them and give them padding */
#container{
	text-align: center;
	padding: 10px;
}

/* determines both before and after button sizes to match one another */
#buttonbefore{
	width: 90px;
}

#buttonafter{
	width: 90px;
}

/* determines map size on page with small border */
#map{ 
	height: 600px; 
	width: 900px; 
	margin: auto;
	border: 5px solid darkblue;
	border-radius: 8px;
}
/* END java.html section, adjust as needed */
